<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h1>Assignment 7: Practicing Reactive Forms</h1>
      <hr>
      <p>
        Create a Form with the following Controls and Validators
      </p>
      <ol>
        <li>
          Project Name (should not be empty)
        </li>
        <li>
          Mail (should not be a empty and a valid email)
        </li>
        <li>
          Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
        </li>
        <li>
          Submit Button
        </li>
      </ol>
      <p>
        Add your own Validator which doesn't allow "Test" as a Project Name
      </p>
      <p>
        Also implement that Validator as an async Validator (replace the other one)
      </p>
      <p>
        Upon submitting the form, simply print the value to the console
      </p>
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="project-name">Project Name:</label>
          <input
            type="text"
            id="project-name"
            class="form-control"
            formControlName="project-name">
          <div
            class="error text-danger"
            *ngIf="form.get('project-name').touched && form.get('project-name').invalid">
            <span *ngIf="form.get('project-name').errors['required']">Project Name is required</span>
            <span *ngIf="form.get('project-name').errors['projectNameIsForbidden']">Project Name is invalid</span>
          </div>
          <label for="email">Email:</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email">
          <div
            class="error text-danger"
            *ngIf="form.get('email').touched && form.get('email').invalid">
            <span *ngIf="form.get('email').errors['required']">Email is required</span>
            <span *ngIf="form.get('email').errors['email']">Email is invalid</span>
          </div>
          <label for="project-status">Project Status:</label>
          <select
            id="project-status"
            class="form-control"
            formControlName="project-status">
            <option name="Stable">Stable</option>
            <option name="Critical">Critical</option>
            <option name="Finished">Finished</option>
          </select>
        </div>
        <div class="alert alert-warning"
             role="alert"
             *ngIf="form.touched && form.invalid">
          <p>
            <b>Warning!</b> Some form fields require revision
          </p>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
